html, 
body {
    height: 100%;
    font-size: 16px;
}

.red {
    color: #BD2843;

}

/*NAVBAR*/
nav {
    background-color: #222;
}

/*BUTTONS*/

.btn-lg,
.btn-success-outline {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #BD2843;
    transition: 0.5s;
}

.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active,
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline:active {
    background-color: #BD2843;
    border: 1px solid rgba(19, 128, 26, 0);
    transition: 0.5s;
}



/*SECTION COVER*/

#cover {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/cover.jpg);

    background-size: cover;
    color: white; 
    
}

.home-page {
    margin: 14rem 5rem;
    

}

/*SECTION ABOUT ME*/

#about-me {
    margin-top: 10rem;

}

#me-pic {
    height: 500px;
    width: 500px;
}




.me-photo {
    background: url(../img/me.jpg);
    background-size: cover;  
    box-shadow: 0px 8px 15px 0px rgba(90, 91, 95, 0.33);
    height: 500px;
    width: 500px;
    margin-top: 5rem;
    

    
}

.me-info {
    margin-top: 8rem;
}


/*PROJECTS*/

#projects {
    margin-top: 10rem;


}

.page-header {
    margin-bottom: 5rem;
}


.projects-title {
    width: 100%;
    text-align: center;
    height: 300px;
    background-color: #BD2843;
    color: white;
    padding-top: 5rem;
     

}

.card {
    margin-left: 3rem;
    margin-top: 3rem;
    
}

.card-img-top {
    height: 200px;
    width: 400px;
}


/*PARALLAX*/

#section-parallax {
    text-align: center;
    background: url(../img/computer.jpg) center repeat fixed;
    padding: 140px 0;
    background-size: cover;
    color: white;
    margin-top: 8rem;
    
}

/*SERVICES*/

#services {
    margin: 5rem;
}

.fa-4x {
    color: #BD2843 !important;

}


/* FOOTER */

footer {
    background-color: #222;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}

.social-links {
    list-style: none;
    float: right;
    margin-top: 20px;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 30px;
    padding-right: 25px;
    font-size: 10px;
}

.social-links li:last-child {
    margin-right: 0;
}


.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    font-size: 160%;
    transition: 0.2s;
}


.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-twitter-square:hover {
    color: #00aced;
}

.fa-google-plus-square:hover {
    color: #dd4b39;
}

.fa-instagram:hover {
    color: #517fa4;
}

.fa-facebook-square, 
.fa-twitter-square,
.fa-google-plus-square,
.fa-instagram {
    transition: 0.2s;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 45px;
    font-size: 18px;
}

.fa-chevron-circle-up {
    margin-top: 35px;
    color: #BD2843;

    transition: 0.2s;
}




/* ANIMATIONS */

.js-wp-1 {
    opacity: 0;
}

.js-wp-1.animated {
    opacity: 1;
}


.js-wp-2 {
    opacity: 0;
    animation-delay: 0.7s;
}

.js-wp-2.animated {
    opacity: 1;
}

.js-wp-3 {
    opacity: 0;
    animation-delay: 0.7s;
}

.js-wp-3.animated {
    opacity: 1;
}

.js-wp-4 {
    opacity: 0;
}

.js-wp-4.animated {
    opacity: 1;
    animation-delay: 1.4s;
}



br {
    display: none;
}




.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('http://placehold.it/1900x500') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 120px 0;
}

.headline h1 {
    font-size: 130px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.headline h2 {
    font-size: 77px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}



/*MEDIA QUERIES*/

@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}

